body {
  /* background-color: black;
    color: white; */
  text-align: center;
}
/* table{
    table-layout: fixed;
} */

table,
th,
td {
  border: 1px solid black;
  margin: auto;
}

td {
  white-space: pre;
  width: 20px;
  height: 209x;
}

.hide {
  width: 20px;
  height: 209x;
  background-color: black;
}
